/*
.side_template{
    display: flex;
    position: relative;
}

.side_template .sidebar{
    width: 190px;
    height: 100%;
    background: #3ea24c;
    padding: 30px 0px;
    position: fixed;
}
.side_template .sidebar .list{
    padding: 20px;
    text-transform: uppercase;
    border-bottom:1px solid #acaa94;
    border-bottom: 1px solid rgba(255,255,255, 0.1);

} */




body{
    height: 100vh;
    display: grid;
    grid-template-columns: 300px  1fr;
    grid-template-rows: 60px 60px  60px 1fr;
    overflow-x: hidden;
}


.header{
    background-color: #2a9134;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1;
}

.sidebar{

    grid-column: 1/2;
    grid-row: 1/5;
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 0px;
    z-index: 1;
}

.main{
    background-color: #fff;

    grid-column: 2/3;
    grid-row: 2/3;
}

.leftheader{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    height: 100%;
    background-color: #fff;
    z-index: 3;
    box-shadow: 10px 1px px 0px rgba(0, 0, 0, 0.2);
   

}

.iconprofile{
    bottom: 40px;
    width: 130px;
    position: relative;
}

#admin{
    position: relative;
    top: 80px;
    left: 125px;
    font-weight: bold;
    color: #2a9134;
    font-size: 20px;
}

#account{
    position: relative;
    top: 60px;
    left: 125px;
}

.sidebar ul{
    color: black;
    list-style-type: none;
    padding: 0; 
    margin-top: 280px;
    padding: 10px;
}
.sidebar ul li {
    margin-bottom: 10px;
    padding: 5px;
}

.sidebar ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

.sidebar ul li a:hover {
    background-color: #23772b9d; 
}

.sidebar .profile{
    position: relative;
    top: 200px;
    text-decoration: none;
    color: #2a9134;
    left: 20px;
    font-weight: 600;
    font-size: medium;
    letter-spacing: 3px;
}

.profile::after{
    content: '';
    height: 1px;
    width: 80%;
    background-color: #333;
    display: flex;
}



.header_title{
    position: relative;
    left: 40%;
    letter-spacing: 10px;
    font-weight: bolder;
    font-size: larger;
    color: white;
    bottom: 7px;
}

.sidebar ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
    position: relative; /* Position relative for pseudo-element */
}

.sidebar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Adjust the distance of the line from the link */
    width: 100%; /* Make the line span the entire width of the link */
    height: 1px; 
    background-color: rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s; 
}


.sidebar ul li a:hover::after {
    background-color: rgba(0, 0, 0, 0.1); 
}

 .logout_button .logout{
    position: relative;
    width: 35px;
    top: 10px;
    
}
.logout_button{
    position: relative;
    left:1500px ;
    bottom: 45px;
}

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
        grid-column: 1/3; 
    }

    .header .btn {
        width: 80px;
    }

    .header_title{
        font-size: 18px;
        letter-spacing: 5px;
    }
}
















